*{
    box-sizing: border-box;
    margin:0;
}

html {
    width: 200px;
    height: 150px;
}

body{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.header{
    display: grid;
    align-items: center;
    text-align: center;
}

.url_input{
    display: block;
    height: 30px;
    margin: 0 auto;
}

.submit_button{
    display: block;
    margin: 0 auto;
}

.copy{
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 1rem;

}

.copy--hidden{
    display: none;
}